/* Author: Joshua Cruz, 000895793 */

@media print {	

	* { 
		font-family: "Times New Roman", Times, serif !important;
	}
	
	body main table {
		border: 0px !important;
		padding: none !important;
	}
	
	#outline {
		display: none;
	}